.App {
  text-align: center;
}

.App-header {
  position: fixed;
  top: 0;
  z-index: 1;
  min-height: 10vh;
  min-width: 100vw;
  background: #3d8f31;
}

.App-header__title{
  min-height: 10vh;
}

// room list
.app__list{
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.app__list-item{}

// card
.room__container{
  width: 250px;
  height: 280px;
  margin-bottom: 20px;
  background: red;
  display: flex;
  flex-direction: column;
}

.room-card{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}


.room-card__image{
  width: 100%;
  height: 30%;
}
.room-card__text{
  width: 80%;
  height: 90px;
  padding: 10px;
  text-transform: capitalize;
  text-align: left;
}
.room-card__price{
  align-self: flex-end;
  font-weight: bold;
  margin-bottom: 10px;
}
.room-card__btn{
  font-family: 'Shadows Into Light Two',
    sans-serif;
  border: 1px black solid;
  padding: 10px;
  cursor: pointer;
}
