.App {
  text-align: center;
}

.App-header {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
  width: 100%;
  background: #343133;
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.App-header__title{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  color: #f09218;
  a{
    color: inherit;
    text-decoration: none;
  }

}

// nav
.App-header__nav {
  display: none;
  color: #d2d2d2;
  @media only screen and (min-width: 768px) {
    display: block;
    }
}

.App-header__nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  li{
    padding: 0 10px;
  }
  li + li:before{
    content: '-';
    padding-right:20px;
  }
  li a{
    color: inherit;
    text-decoration: none;
  }
}
